textarea {
  width: 90%;
  height: 5rem;
  font-size: 20px;
}

.fb-con {
  height: 400px;
  width: 60%;
  margin: 4rem 20%;
}

.f-head {
  height: 5rem;
  font-size: 20px;
}

.feed-btn {
  color: red;
  margin-top: 2rem;
}

.h-feed {
  font-family: "Montserrat";
  font-size: 4rem;
  margin: 1rem 20%;
}
.f-code {
  color: red;
}
