.lbl {
  color: black;
}

.field {
  border: none;
  border-bottom: 2px solid red;
  outline: none !important;
  transition: border-bottom 500ms linear;
  height: 40px;
}

.field:focus {
  border-bottom: 3px solid black;
}

button[type="submit"] {
  background-color: #00000000;
  color: red;
  font-family: "Montserrat", sans-serif;
  border: 2px solid black;
  outline: none !important;
}

Form {
  font-family: "Montserrat", sans-serif;
}

.terms {
  font-size: 12px;
  margin-left: 3px;
}
