.land {
  /* background: url("../svg/bgL.svg"); */
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  margin-top: -58px;
  background-size: 100%;
  font-family: "Montserrat", sans-serif;
  max-height: 100% !important;
}

@keyframes animateOp {
  0% {
    opacity: 0;
    transform: translateX(-10px) scale(2);
  }
  100% {
    opacity: 100;
    transform: translateX(0px) scale(2);
  }
}

@keyframes animateRi {
  0% {
    transform: translateX(-10px) scale(2);
  }
  100% {
    opacity: 100;
    transform: translateX(0px) scale(2);
  }
}

#book,
#things,
#elements,
#stars {
  position: fixed;
  transform: scale(2);
  opacity: 0;
}

#bgl {
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: -5;
}

#book {
  margin: 32% 65%;
  animation: animateRi 0.5s ease-in-out forwards;
}

#stars {
  margin: 13.8% 62%;
  animation: animateOp 0.5s ease-out 0.5s forwards;
}

#elements {
  margin: 13.33% 64%;
  animation: animateOp 0.5s ease-out 1s forwards;
}

#things {
  margin: 12.2% 62%;
  animation: animateOp 0.5s ease-out 1.5s forwards;
}

#intro {
  margin: -30% 7%;
  position: fixed;
  z-index: 5;
}

#intro h1 {
  font-size: 60px;
}

.vects {
  height: 100%;
  width: 100%;
}
