.land {
  background: url("../svg/BGL.svg");
  background-repeat: no-repeat;
  background-size: cover;

  position: fixed;
  top: 0;
  left: 0;
  font-family: "Montserrat", sans-serif;
  width: 100%;
  height: 100%;
  min-height: 100%;
  min-width: 100%;
}

@keyframes animateOp {
  0% {
    opacity: 0;
    transform: translateX(-10px);
  }
  100% {
    opacity: 100;
    transform: translateX(0px);
  }
}

@keyframes animateRi {
  0% {
    transform: translateX(-10px) scale(2);
  }
  100% {
    opacity: 100;
    transform: translateX(0px) scale(2);
  }
}

#book,
#things,
#elements,
#stars {
  position: absolute;
  opacity: 0;
  /* border: 2px solid orangered; */
}

#book {
  top: 70%;
  height: 30%;
  width: 100%;
  max-height: 30%;
  max-width: 100%;
  animation: animateRi 500ms ease-in-out forwards,
    animateOp 500ms ease-in-out forwards;
}

#stars {
  top: -10px;
  height: 70%;
  width: 100%;
  max-width: 100%;
  max-height: 70%;
  animation: animateOp 500ms ease-in-out 500ms forwards;
}

#elements {
  left: -20px;
  height: 70%;
  width: 100%;
  max-width: 100%;
  max-height: 70%;
  animation: animateOp 500ms ease-in-out 1000ms forwards;
}

#things {
  top: 10%;
  height: 70%;
  width: 100%;
  max-width: 100%;
  max-height: 70%;
  animation: animateOp 500ms ease-in-out 1500ms forwards;
}

#intro h1 {
  font-size: 60px;
}

#intro {
  /* height: 30%;
  width: 50%;
  max-height: 30%;
  max-width: 50%; */
  position: absolute;
  top: 18em;
  left: 6em;
  z-index: 5;
  /* border: 2px solid blue; */
}
.objects {
  position: absolute;
  height: 55vh;
  width: 35vw;
  top: 10%;
  left: 57%;
}

.vects {
  position: fixed;
  height: 100%;
  width: 100%;

  z-index: -5;
}
