.rep-con {
  width: 60%;
  max-height: 50%;
  /* border: 3px solid red; */
  margin: 0 10rem;
  font-size: 20px;
  font-family: "Montserrat";
}

.repo-list {
  /* border: 3px solid goldenrod; */
  margin: 0 0 5rem 5rem;
  width: 25rem;
}

.list {
  margin-top: 2rem;
  /* border: 2px solid violet; */
  display: inline-flex;
  width: 100%;
  font-family: "Montserrat";
}

.h-rep {
  /* border: 3px solid brown; */
  margin-top: 5rem;
  margin-left: 20rem;
  font-size: 5rem;
  font-family: "Montserrat";
}

.h-code {
  font-size: 5rem;
  font-family: "Montserrat";
  color: red;
  margin: 0 20rem;
}
